<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.queryx.recruiting_website.mapper.TDUserMapper">

    <!-- 学生用户登录 -->
    <select id="queryUserByEmail" resultType="com.queryx.recruiting_website.domain.TDUser">
        select *
        from t_d_user u
        inner join t_d_resume r on u.resume_id = r.resume_id
        <where>
            <if test="username!= null">
                r.resume_email = #{username} and
                u.user_status = 0 and
                u.del_flag = 0
            </if>
        </where>
    </select>



</mapper>
