<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.queryx.recruiting_website.mapper.UserMapper">

    <!-- 学生用户登录 -->
    <select id="queryUserByEmail" resultType="com.queryx.recruiting_website.domain.vo.LoginVO">
        select u.user_id, r.resume_id
        from t_d_user u
        inner join t_d_resume r on u.resume_id = r.resume_id
        <where>
            <if test="username!= null and username!= '' and userPassword!= null and userPassword!= ''">
                r.resume_email = #{username} and
                u.user_password = #{userPassword} and
                u.user_role = #{userRole} and
                u.user_status = 0
            </if>

        </where>
    </select>

</mapper>
